@page "/"
@inject PromptService PromptService

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="HandlePromptAsync">Prompt</button>

@code{

    async Task HandlePromptAsync()
    {
        await PromptService.Execute();
    }
}

