@page "/bridge"
@inject IBridge Bridge

<BridgeIdiom>
    <Mobile>
        <h3>Current Idiom : Mobile</h3>
    </Mobile>
    <Tablet>
        <h3>Current Idiom : Tablet</h3>
    </Tablet>
    <Desktop>
        <h3>Current Idiom : Desktop</h3>
    </Desktop>
    <Default>
        <h3>Current Idiom : Unknown</h3>
    </Default>
</BridgeIdiom>

<h3>Current Platform : @Bridge.Platform</h3>
<h3>Current FrameWork : @Bridge.Framework</h3>
